<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>CenterServlet</servlet-name>
        <servlet-class>sample.servlet.CenterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>sample.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemServlet</servlet-name>
        <servlet-class>sample.servlet.AddItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>sample.servlet.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemServlet</servlet-name>
        <servlet-class>sample.servlet.RemoveItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>sample.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>sample.servlet.CreateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmYesServlet</servlet-name>
        <servlet-class>sample.servlet.ConfirmYesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmNoServlet</servlet-name>
        <servlet-class>sample.servlet.ConfirmNoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeniedServlet</servlet-name>
        <servlet-class>sample.servlet.DeniedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorLoginServlet</servlet-name>
        <servlet-class>sample.servlet.ErrorLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CenterServlet</servlet-name>
        <url-pattern>/CenterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemServlet</servlet-name>
        <url-pattern>/AddItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemServlet</servlet-name>
        <url-pattern>/RemoveItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/CreateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmYesServlet</servlet-name>
        <url-pattern>/ConfirmYesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmNoServlet</servlet-name>
        <url-pattern>/ConfirmNoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeniedServlet</servlet-name>
        <url-pattern>/DeniedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorLoginServlet</servlet-name>
        <url-pattern>/ErrorLoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>search.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>DBCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
